{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <img class="ms-3 mt-3 " src="https://i.pinimg.com/originals/bd/cd/20/bdcd20f5411ee5785889542d303ad4cb.png" alt="logo" style="width: 300px;">
    <h2 class="mt-1" style="display: inline;"><i>{{ firstlist }} - {{ pokemonNext }}</i></h2> 
    {% if offNum > 0 %} 
      <a href="/pokemon/Dex?offset={{ pokemonPre }}&limit=27" class="btn btn-warning ms-3" style="width: 200px; ">Previous Page</a>
      {% else %}
      <div class="btn ms-3" style="width: 200px; background: rgb(180, 168, 103)">Previous Page</div>
      {% endif %}
      <a href="/pokemon/Dex?offset={{ pokemonNext }}&limit=27" class="btn btn-warning ms-3" style="width: 200px; ">Next Page</a>
    <div class="row mt-3">
      {% for pkmn in pokemonData %}
        <div class="card ps-0 ms-3 mb-3" style="width: 12rem; border-radius: 200px; height: 12rem; text-align: center;">
          <h4 class="card-title pt-5 "style="text-transform: capitalize; border-radius: 200px 200px 0 0; background-color: red; color: white; height: 6rem; width: 12rem">{{ pkmn.name }} </h4>
          <div class="card-body">
            <p class="card-text">
            </p>
            <a style="text-transform: capitalize;" href="/pokemon/Dex/{{ pkmn.name }}" class="btn btn-info">
              Info
            </a>
          </div>
        </div>
      {% endfor %}
      <br>
      </div>
  </div>
{% endblock %}