{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <a href="/pokemon/Dex?offset=0&limit=27"><img class="ms-3 mt-3 mb-3 " src="https://i.pinimg.com/originals/bd/cd/20/bdcd20f5411ee5785889542d303ad4cb.png" alt="Pokedex" style="width: 300px;"> </a> <br>
    <h2 class="mt-1" style="display: inline;"><i>{{ firstlist }} - {{ pokemonNext }}</i></h2> 
    {% if offNum > 0 %} 
      <a href="/pokemon/Dex?offset={{ pokemonPre }}&limit=27" class="btn btn-warning ms-3" style="width: 200px; ">Previous Page</a>
      {% else %}
      <div class="btn ms-3" style="width: 150px; background: rgb(180, 168, 103)">Previous Page</div>
      {% endif %}
      {% if offNum == 891 %}
      <div class="btn ms-3" style="width: 150px; background: rgb(180, 168, 103)">Next Page</div> 
      {% else %}
      <a href="/pokemon/Dex?offset={{ pokemonNext }}&limit=27" class="btn btn-warning ms-3" style="width: 150px;  ">Next Page</a>
      {% endif %}
      <br>
      <div class="row">
        <form action="/pokemon/Dex/search?{{ nameTBF }}" method="GET">
        <input style="width: 160px; height: 40px; border-radius: 3px;"  class="ms-3 mt-3" type="text" name="name" placeholder="Search by Name..."><input type="submit" class="btn btn-success" value="Search" style="width: 80px; height: 40px"></form>
        <a href="/pokemon/Dex/type" class="btn btn-primary ms-3 mt-3" style="width: 200px; ">Filter by Type</a>
        <a href="/pokemon/Dex/region" class="btn btn-primary ms-3 mt-3" style="width: 200px; ">Filter by Region</a>
      </div>
      <div class="row mt-3">

      {% for pkmn in pokemonData %}
        <div class="card ps-0 ms-3 mb-3" style="width: 16rem; border-radius: 200px; padding-left: -1px; height: 16rem; text-align: center; ">

          <a style="text-transform: capitalize; text-decoration: none; border-radius: 200px 200px 200px 200px;" href="/pokemon/Dex/{{ pkmn.name }}" class="">

          <h4 class="pt-3 mt-0 mb-0 ms-0"style="text-transform: capitalize; border-radius: 200px 200px 0 0; background-color: red; color: white; height: 8rem; width: 16rem; border-bottom: 25px solid black">{{ forloop.index | plus: offNum }} <br>{{ pkmn.name }} </h4>

          <div class="card-body">
            {% assign pokeIndex = forloop.index | plus: offNum %}
            {% if pokeIndex > 1008 %}
            <img class="mt-0 mb-0"src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ forloop.index | plus: offNum | plus: 8992 }}.png" alt="">
               {% else %}
               <img class="mt-0 mb-0"src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ forloop.index | plus: offNum }}.png" style="width:96px; height:96px" alt="na">
            {% endif %}
               </div>
               </a>
        </div>
      {% endfor %}

      <br>
      <h2 class="mt-1" style="display: inline;"><i>{{ firstlist }} - {{ pokemonNext }}</i></h2> 
    {% if offNum > 0 %} 
      <a href="/pokemon/Dex?offset={{ pokemonPre }}&limit=27" class="btn btn-warning ms-3" style="width: 200px; ">Previous Page</a>
      {% else %}
      <div class="btn ms-3" style="width: 150px; background: rgb(180, 168, 103)">Previous Page</div>
      {% endif %}
      {% if offNum == 891 %}
      <div class="btn ms-3" style="width: 150px; background: rgb(180, 168, 103)">Next Page</div> 
      {% else %}
      <a href="/pokemon/Dex?offset={{ pokemonNext }}&limit=27" class="btn btn-warning ms-3" style="width: 150px;  ">Next Page</a>
      {% endif %}
    <div class="row mt-3">
      </div>
  </div>
{% endblock %}