{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <h2 class="display-6 ms-3 mt-3">Hello {{ username }} !                                        </h2>
    <a href="/auth/logout" class="btn btn-danger ms-3">Log Out</a>
    <hr>
    <div class="row">
      <!-- <a href="/pokemon/new" class="btn btn-primary me-3 ms-3 mb-3" style="display: inline; width: 300px;">New Pokemon</a>-->
      <a href="/pokemon/mine" class="btn btn-primary me-3 ms-3 mb-3" style="display: inline; width: 250px; ">Your Pokemons</a> <a href="/team/new" class="btn btn-primary me-3 ms-3 mb-3" style="display: inline; width: 250px; ">New Team</a>
      
      <hr> 

      <h3 class="ms-3">Your Teams</h3>
      {% for team in teams %}
        <div class="card ms-2 mb-2" style="width: 20rem;border: 3px solid rgb(88, 88, 88)">
          <h4 class="card-header">Team "{{ team.name }}"</h4>
          <div class="card-body">
          <h6>{{ team.description }}</h6>
          <div class="grid">
          {% for pokemon in team.pokemons %}
            <img  class="{{ pokemon.type1 }} ms-3 mb-3"src="{{ pokemon.sprite }}" style="border-radius: 5px; border: 2px solid black; padding: 2px" alt="">
            {% endfor %}
            <a href="/team/{{ team.id }}" class="btn ms-3 btn-primary" style=" width:14rem">
              View Team "{{ team.name }}"
            </a>
          </div>
        </div>
        </div>
      {% endfor %}
      
  </div>
{% endblock %}