{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <h2 class="display-6">All Teams</h2>
    <div class="row">
      {% for team in teams %}
        <div class="card ms-2 mb-2" style="width: 20rem;border: 3px solid rgb(88, 88, 88)">
          <h4 class="card-header">{{ team.owner.username }}'s Team "{{ team.name }}"</h4>
          <div class="card-body">
          <h6>{{ team.description }}</h6>
          <div class="grid">
          {% for pokemon in team.pokemons %}
            <img  class="{{ pokemon.type1 }} ms-3 mb-3"src="{{ pokemon.sprite }}" style="border-radius: 5px; border: 2px solid black; padding: 2px" alt="">
            {% endfor %}
            <a href="/team/{{ team.id }}" class="btn ms-3 btn-primary" style=" width:14rem">
              View Team "{{ team.name }}"
            </a>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}