{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>Team {{ team.name }} </h2>
        <h5>{{ team.description }}</h5>
        {% for pokemon in pokemons %}
            <div class="card ms-3 mb-3 {{ pokemon.type1 }}" style="width: 14rem; border: 5px solid white">
              <h4 class="card-header"style="text-transform: capitalize; text-align: center"><img src="{{ pokemon.sprite }}" alt="NA" style="border: 2px solid black; background-color: white; border-radius: 10px; margin-right: 3px"><br>{{ pokemon.name }} </h3>
              <div class="card-body">
                <p class="card-text" style="text-transform: capitalize;">
                  Type: {{ pokemon.type1 }} {{ pokemon.type2 }}
                </p>
                <a href="/pokemon/{{ pokemon.id }}" class="btn btn-info " style="text-transform: capitalize;">
                  View {{ pokemon.name }}
                </a>
              </div>
            </div>
          {% endfor %}
            {% if team.owner == userId %}
            <h3><a href="/team/{{ team.id }}/addPokemon/?offset=0&limit=27" class="btn btn-primary">add Pokemons to team</a> 
            <a href="/team/{{ team.id }}/edit" class="btn btn-primary">Edit {{ team.name }}</a> 
            <form action="/team/{{ team.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete Team '{{team.name}}'" class="btn btn-danger mt-2"></h3>
                {% endif  %}
            </form>
        </div>
    </article>
    <small>Team id: {{ team.id }} </small><br>
    <small>owned by: {{ team.owner.username }}</small>
</div>
{% endblock %}