{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
  <div class="row">
  <h2 class="mt-1" style="display: inline;">Filter By Type  </h2> <br>
    <a href="/team/{{ team.id }}/addPokemon/?offset={{ pokemonPre }}&limit=27" class="btn btn-warning ms-3" style="width: 200px; ">Go Back</a>
  <div class="row mt-3">
    {% for type in typeData %}
        <form action="">
        <a href="/team/{{ team.id }}/addPokemon/type/{{ type.name }}">
      <div class="btn {{ type.name }} ms-3 mb-3">
        <h3 style="text-transform: capitalize;">{{ type.name }}</h3>
          </div>
          </a>
          </form>
    {% endfor %}
    <br>
    </div>
    </div>
</div>
        {% endblock %}
        <a style="text-transform: capitalize;" href="" class="btn btn-info pt-0">