{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm mb-4">
    <article>
        <h1 class="mt-3 " style="text-transform: capitalize;"> <img class =" {{ pokemonData.types.0.type.name }}"style="border-width: 3px; border-radius:20px;"src="{{ pokemonData.sprites.front_default }}" alt="no-sprite">
        {% if pokemonData.id < 1026 %}
         <i>{{ pokemonData.id}} -</i>
         {% endif %}
             {{ pokemonData.name }}
            </h1> 
            
        <img src="{{ pokemonData.sprites.other.official-artwork.front_default }}" alt="artwork">

        <h3 style="text-transform: capitalize;">
            Type: 
            <span class="{{ pokemonData.types.0.type.name }}">{{ pokemonData.types.0.type.name }}</span> 
        <span class="{{ pokemonData.types.1.type.name }}"> {{ pokemonData.types.1.type.name }}</span>
        </h3>

        <div style="width: 50%; text-transform: capitalize; background: rgba(0, 0, 0, 0.1); border: 2px solid black; border-radius: 5px; padding: 5px;" >
            <h4>Stats:</h4>
            {{ pokemonData.stats.0.stat.name }}: {{ pokemonData.stats.0.base_stat }} <div class="mb-0" style="background: orange; height: 15px; border-radius: 2px; width: {{ pokemonData.stats.0.base_stat | times: 100 | divided_by: 255 }}%;"></div> <br> 
            {{ pokemonData.stats.1.stat.name }}: {{ pokemonData.stats.1.base_stat }} <div class="mb-0" style="background: orange; height: 15px; border-radius: 2px; width: {{ pokemonData.stats.1.base_stat | times: 100 | divided_by: 255 }}%;"></div> <br> 
            {{ pokemonData.stats.2.stat.name }}: {{ pokemonData.stats.2.base_stat }} <div class="mb-0" style="background: orange; height: 15px; border-radius: 2px; width: {{ pokemonData.stats.2.base_stat | times: 100 | divided_by: 255 }}%;"></div> <br> 
            {{ pokemonData.stats.3.stat.name }}: {{ pokemonData.stats.3.base_stat }} <div class="mb-0" style="background: orange; height: 15px; border-radius: 2px; width: {{ pokemonData.stats.3.base_stat | times: 100 | divided_by: 255 }}%;"></div> <br> 
            {{ pokemonData.stats.4.stat.name }}: {{ pokemonData.stats.4.base_stat }} <div class="mb-0" style="background: orange; height: 15px; border-radius: 2px; width: {{ pokemonData.stats.4.base_stat | times: 100 | divided_by: 255 }}%"></div> <br> 
            {{ pokemonData.stats.5.stat.name }}: {{ pokemonData.stats.5.base_stat }} <div class="mb-0" style="background: orange; height: 15px; border-radius: 2px; width: {{ pokemonData.stats.5.base_stat | times: 100 | divided_by: 255 }}%;"></div>
           
            </div>
            <hr>
    </article>
    {% if loggedIn %}
    <a class="btn btn-primary mb-3 mt-3" href="/pokemon/addToTeam/{{ pokemonData.name }}">Add  <span style="text-transform: capitalize">{{ pokemonData.name }}</span> to a team</a><br>
    {% else %}
    <div class="mb-3"> <a href="/auth/login" class="btn btn-primary btn-sm">Sign In</a> with your account to add <span style="text-transform: capitalize">{{ pokemonData.name }}</span>  to a team</div>
    {% endif %}
    {% if pokemonData.id == 10001 %}
    <a style="border: 3px solid blue;" href="/pokedex/1025"  class="btn btn-warning"> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1025.png"><--- Previous</a>
    {% elsif pokemonData.id == 1 %}

    {% else %}
    <a  style="border: 3px solid blue;" href="/pokedex/{{ pokemonPre }}"  class="btn btn-warning"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData.id | minus: 1 }}.png"><--- Previous</a>
    {% endif %}
    {% if pokemonData.id == 1025 %}
    <a style="border: 3px solid blue;" href="/pokedex/10001"  class="btn btn-warning">Next ---> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10001.png" alt=""> </a>
    {% else %}
    <a style="border: 3px solid blue;" href="/pokedex/{{ pokemonNext }}"  class="btn btn-warning">Next ---> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData.id | plus: 1 }}.png" alt=""> </a>
    {% endif %}
</div>

{% endblock %}